body,
html {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Helvetica Neue", serif;
    line-height: 1.5em;
    
}
h1{
    margin-left: 50%;
    margin-right: -50%;
}

main {
    flex-direction: column;
    display:flex
    
}

section{
    padding: 30px 100px 30px 100px;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}

li{
    margin: auto 5px;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
    position: fixed;
    width: 100%;
    
    
}
main{
    padding-top: 80px;
}


header img{
    margin: auto 5px;
    border-radius: 50%;
}

a{
    color: inherit;
}

.description>img{
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}
.description>.description-p2{
    clear: both;
}
.description{
    background-color: #f1f1f1;
}

.relationship>img{
    float: right;
}


footer{
    background-color: #a9a9a9;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

